body, .root, .main, .noteContainer{
  width: 200%;
  height: 200vh;
  display: inline-block;
}

.note {
  position: absolute;

  min-width: 200px;
  min-height: 200px;
  height: 200px;
  width: 200px;
  background-color: lightblue;
  display: inline-block;

  zoom: 100%;
}

.noteText {
  box-sizing: border-box; /* fit parent width */
  border: none;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 20px;
}
