.noteContainer{
  display: inline-block;
  width: 100%;
  height: calc(100vh - 24px);
}

.selection-box {
  position: absolute;
  background: rgba(0, 0, 255, 0.2);
  border: 1px blue solid;
  display: inline-block;
}

.invisible{
  display: none;
}

.note {
  position: absolute;
  box-sizing: border-box;

  background-color: lightblue;
  display: inline-block;

  zoom: 100%;
}

.noteText {
  width: 100%;
  box-sizing: border-box; /* fit parent width */
  border: none;
  background-color: transparent;
  font-size: 20px;
  outline: none;
  text-align: center;
  font-size: 25pt;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  resize: none;
  overflow: auto;
}

.note.selected {
  border: 2px blue solid;
}
